<?xml version="1.0"?>
<config>
    <modules>
        <LCB_UsageStory>
            <version>0.1.0</version>
        </LCB_UsageStory>
    </modules>
    <frontend>
        <routers>
            <usagestory>
                <use>standard</use>
                <args>
                    <module>LCB_UsageStory</module>
                    <frontName>usagestory</frontName>
                </args>
            </usagestory>
        </routers>
        <layout>
            <updates>
                <usagestory>
                    <file>lcb_usagestory.xml</file>
                </usagestory>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <usagestory>
                <class>LCB_UsageStory_Helper</class>
            </usagestory>
        </helpers>
        <blocks>
            <usagestory>
                <class>LCB_UsageStory_Block</class>
            </usagestory>
        </blocks>
        <models>
            <usagestory>
                <class>LCB_UsageStory_Model</class>
                <resourceModel>usagestory_mysql4</resourceModel>
            </usagestory>
            <usagestory_mysql4>
                <class>LCB_UsageStory_Model_Mysql4</class>
                <entities>		  
                    <story>
                        <table>lcb_usagestory</table>
                    </story>		  
                    <photo>
                        <table>lcb_usagestory_photo</table>
                    </photo>
                </entities>
            </usagestory_mysql4>
        </models>
        <resources>
            <lcb_usagestory_setup>
                <setup>
                    <module>LCB_UsageStory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_usagestory_setup>
            <lcb_usagestory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_usagestory_write>
            <lcb_usagestory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_usagestory_read>
        </resources>
    </global>
    <admin>
        <routers>
            <usagestory>
                <use>admin</use>
                <args>
                    <module>LCB_UsageStory</module>
                    <frontName>admin_usagestory</frontName>
                </args>
            </usagestory>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <usagestory module="usagestory">
                <title>UsageStory</title>
                <sort_order>100</sort_order>
                <children>
                    <story module="usagestory">
                        <title>Manage Story</title>
                        <sort_order>0</sort_order>
                        <action>admin_usagestory/adminhtml_story</action>
                    </story>
                </children>
            </usagestory>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <usagestory translate="title" module="usagestory">
                            <title>UsageStory</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <story translate="title">
                                    <title>Manage Story</title>
                                    <sort_order>0</sort_order>
                                </story>
                            </children>
                        </usagestory>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <usagestory>
                    <file>lcb_usagestory.xml</file>
                </usagestory>
            </updates>
        </layout>
    </adminhtml>
</config> 